
@font-face {
    font-family: 'neon';
    src: url('./font/hellodenverdisplayregular_v1.6.eot');
    src: url('./font/hellodenverdisplayregular_v1.6.eot?#iefix') format('embedded-opentype'),
         url('./font/hellodenverdisplayregular_v1.6.woff') format('woff'),
         url('./font/hellodenverdisplayregular_v1.6.ttf') format('truetype'),
         url('./font/hellodenverdisplayregular_v1.6.svg#HELLODENVERDISPLAYREGULARRg') format('svg');
}


h1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 4.2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}


h1 .rock{
    color: #fff;
    text-shadow:
        0 0 7px #D30302,
        0 0 10px #D30302,
        0 0 21px #D30302,
        0 0 42px #FF5161,
        0 0 82px #FF5161,
        0 0 92px #FF5161,
        0 0 102px #FF5161,
        0 0 151px #FF5161;
}

h1 .paper{
    color: #fff;
    text-shadow:
        0 0 7px #b48505,
        0 0 10px #b48505,
        0 0 21px #b48505,
        0 0 42px #ffdb4e,
        0 0 82px #ffdb4e,
        0 0 92px #ffdb4e,
        0 0 102px #ffdb4e,
        0 0 151px #ffdb4e;
}

h1 .scissors{
    color: #fff;
    text-shadow:
        0 0 7px #02c435,
        0 0 10px #02c435,
        0 0 21px #02c435,
        0 0 42px #00fe9b,
        0 0 82px #00fe9b,
        0 0 92px #00fe9b,
        0 0 102px #00fe9b,
        0 0 151px #00fe9b;
}


.container{
    flex: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.container h2{ 
    margin: 30px;
    font-size: 3rem;
    font-weight: 400;
    text-shadow:
        0 0 7px #e10361,
        0 0 10px #e10361,
        0 0 21px #e10361,
        0 0 42px #FF53cd,
        0 0 82px #FF53cd,
        0 0 92px #FF53cd,
        0 0 102px #FF53cd,
        0 0 151px #FF53cd;
}

.container h3{ 
    margin: 16px;
    font-size: 2rem;
    font-weight: 400;
    text-shadow:
        0 0 7px #4003e6,
        0 0 10px #4003e6,
        0 0 21px #4003e6,
        0 0 42px #9461fd,
        0 0 82px #9461fd,
        0 0 92px #9461fd,
        0 0 102px #9461fd,
        0 0 151px #9461fd;
}

.score{
    margin: 16px;
    font-size: 2rem;
    font-weight: 400;
    text-shadow:
        0 0 7px #00a3d5,
        0 0 10px #00a3d5,
        0 0 21px #00a3d5,
        0 0 42px #2dd9fe,
        0 0 82px #2dd9fe,
        0 0 92px #2dd9fe,
        0 0 102px #2dd9fe,
        0 0 151px #2dd9fe;
}

.choices{
    display: flex;
    justify-content: center;
    gap: 70px;
    margin: 30px;
    margin-bottom: 30px;
}

.choices .indivChoice .score{
    margin: 30px;
}

.choices img{
    width: 128px;
    height: auto;
}

#player-btn.active{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

button{
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
    background-color: transparent;
    padding: 10px 20px;
    margin: 5px;
    transition-duration: 0.4s;
}

button:hover {opacity: 1}


.rock-btn{
    border: 2px solid #FF5161;
}

.paper-btn{
    border: 2px solid #ffdb4e;
}

.scissors-btn{
    border: 2px solid #00fe9b;
}

#player-btn button.active img{
    width: 86px;
    height: auto;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 30px;
    font-size: 1.5rem;
    font-weight: 400;
    text-shadow:
        0 0 7px #ffffff,
        0 0 10px #ffffff,
        0 0 21px #ffffff,
        0 0 42px #fefefe,
        0 0 82px #fefefe,
        0 0 92px #fefefe,
        0 0 102px #fefefe,
        0 0 151px #fefefe;
}

body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-family: neon;
    color: #fff;
    background-color: #010a01;
    text-align: center;
}

#gameOverScreen.active button{
    color: #fff;
    text-shadow:
        0 0 7px #02c435,
        0 0 10px #02c435,
        0 0 21px #02c435,
        0 0 42px #00fe9b,
        0 0 82px #00fe9b,
        0 0 92px #00fe9b,
        0 0 102px #00fe9b,
        0 0 151px #00fe9b;
    border: 2px solid #00fe9b;
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
    background-color: transparent;
    padding: 10px 20px;
    margin: 5px;
    transition-duration: 0.4s;
}

.inactive {
    display: none;
  }
